/* прописываем медиа-запросы(для адаптива) */
/* в () записываем условие, при котором будет производиться media-запрос */
/* в {} обращаемся к html-файлу, который хотим видоизменить */

/* адаптив при достижении экрана 1180px */

@media(max-width: 1240px) {
    .registration {}

    .registration__title {
        text-align: center;
    }

    .registration__inner {
        gap: 60px 0;
        flex-direction: column;
    }
}

@media(max-width: 1180px) {
    .blog__list {
        justify-content: center;
    }

    .blog__item {
        flex-basis: calc(470px + (542 - 470) * ((100vw - 1180px) / (1200 - 320)));
    }

    .blog__item-img {
        max-width: calc(230px + (270 - 230) * ((100vw - 1180px) / (1200 - 320)));
    }
}

/* адаптив при достижении экрана 1010px */
@media(max-width: 1010px) {
    .user-actions__item--search {
        margin-left: 30px;
    }

    .menu {
        /* свойство автоматически расчитывает отступ справа
        (без него не произойдёт нужного смещения всего блока) */
        margin-right: auto;
    }

    .menu__list {
        margin-left: 60px;
    }

    /* убираем у логотипа отступ снизу */
    .logo {
        margin-bottom: 0;
    }

    .header__inner {
        min-height: auto;
    }

    .blockquote__text {
        margin-top: 120px;
        margin-bottom: 135px;
    }

    .assortment__list {
        gap: 0;
    }

    .assortment {
        margin: 120px 0;
    }

    .review {
        margin-bottom: 120px;
    }

    /* обращаемся к последнему элементу review__item */
    .review__item:last-child {
        display: none;
    }

    /* 5 секция */
    .blog {
        padding: 120px 0;
    }

    .blog__item-img {
        max-width: 230px;
    }

    .blog__item {
        flex-basis: 460px;
    }

    .blog__list {
        gap: 67px 20px;
    }

    .blog__item-img {
        max-width: 230px;
    }

    .blog__item {
        flex-basis: 460px;
    }

    .blog__list {
        gap: 67px 20px;
        justify-content: left;
    }

    /* 6 секция */
    .registration {
        padding: 60px 0;
    }

    /* 7 секция */
    .prioritise {
        padding: 120px 0;

    }
}

/* дополнительный медиа запрос, используемый при достижении 860px */
@media(max-width: 860px) {
    .menu__list {
        /* перемещаем элемент на экране по оси Y
        навигационное меню улетает за верхнюю часть экрана по оси Y*/
        transform: translateY(-100%);
        /* готовим выдвигающееся меню */
        /* фон. изображение становиться абсолютным(никак не взаимодействует с другими элементами) */
        position: absolute;
        /* картинка начинается с левого верхнего угла секции*/
        top: 0;
        left: 0;
        /* картинка продолжается до правого угла секции */
        right: 0;
        /* ширина выдвигающегося меню */
        width: 480px;
        /* центрирование выдвигающегося меню */
        margin: 0 auto;
        /* цвет выдвигающегося меню */
        background-color: #fff;
        /* каждый элемент занимает всю доступную горизонтальную ширину и располагается на новой строке */
        display: block;
        /* текст в элементах центрируется */
        text-align: center;
        padding-top: 60px;
        /* transition настройка переходов */
        /* transform посзволяет переход сделать более плавным(s - задержка) */
        /* ease медленное начало, затем быстрое, после чего медленный конец */
        transition: transform .5s ease;
    }

    /* означает элемент, который имеет как class menu__list(class1), так и menu__list--open(class2) */
    /* cтили будут применяться ко всем элементам, которые одновременно имеют класс class1 и class2 */
    .menu__list.menu__list--open {
        /* перемещаем элемент на экране по оси Y
        возвращаем навигационное меню на место*/
        transform: translateY(0%);
    }

    .menu__btn {
        /* отображаем (бургер) */
        display: flex;
    }

    /* свойства для навигационного меню(мобильное расширение) */
    .mobile-nav,
    .menu__close {
        /* подключаем элементы навигационного меню мобильного расширения */
        display: block;
    }

    /* свойства для кнопки закрытия навигационного меню */
    .menu__close-btn {
        /* закрывающий навигационное меню знак становиться абсолютным */
        position: absolute;
        /* размещение закрывающего знака(работает вместе с position: absolute) */
        top: 20px;
        right: 20px;
    }

    /* свойства для навигационного меню(мобильное расширение) */
    .menu__item {
        margin-bottom: 30px;
        /* изменяем размер шрифта */
        font-size: 24px;
        /* изменяем шрифт */
        font-family: 'Cormorant';
    }

    .mobile-menu {
        padding-top: 60px;
        margin: 60px 30px;
        border-top: 2px solid #F7F2EA;
    }

    .mobile-menu__item {
        margin-bottom: 35px;
        font-size: 13px;
        font-weight: 300;
    }

    .mobile-actions {
        background-color: #F7F2EA;
        height: 60px;
        /* внутренние отступы слева и справа */
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        /* порядок расположения элементов внутри контейнера */
        /* выставляем бургер в самый левый угол */
        order: -1;
        /* полностью убираем правый внешний отступ */
        margin-right: 0;
    }

    .logo {
        /* располагаем лого в блоке (logo) */
        margin-right: 154px;
        margin-left: auto;
    }
}

/* адаптив при достижении экрана 768px */
@media(max-width: 768px) {
    .header__inner {
        /* добавляем внутренние отступы блоку */
        padding-left: 64px;
        padding-right: 64px;
    }

    .blockquote__text {
        max-width: 640px;
    }

    .assortment__list {
        /* flex-wrap определяет будут ли flex-элементы выстраиваться в одну строку или возможно многострочное размещение */
        /* wrap указывает, что flex-элементы при необходимости могут переноситься на следующую строку,
     если на предыдущей не хватает места */
        flex-wrap: wrap;
        /* центрируем картинки */
        justify-content: center;
    }

    title {
        margin-bottom: 40px;
    }

    .review__item--hide {
        display: block;
    }

    .review__list {
        flex-wrap: wrap;
        gap: 30px 76px;
    }

    .review__item:last-child {
        display: block;
    }
}

/* дополнительный медиа запрос, используемый при достижении 680px */
@media(max-width: 680px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top__title {
        font-size: 40px;
        line-height: normal;
    }

    .header__inner {
        /* добавляем внутренние отступы блоку */
        padding-left: 0;
        padding-right: 0;
    }

    .blockquote__text {
        font-size: 16px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@media(max-width: 480px) {
    .logo {
        margin-right: 80px;
    }

    /* обращаемся непосредственно к картинке */
    .logo img {
        width: 40px;
    }

    .header__inner {
        padding: 10px 0;
    }

    .menu__list {
        /* ширина навигационного меню */
        width: 360px;
    }

    .assortment {
        margin: 60px 0;
    }

    .assortment__img {
        max-width: 170px;
    }

    .review {
        padding: 50px 0;
    }

    .review__list {
        gap: 30px 20px;
    }

    .review__item {
        flex-basis: 220px;
    }
}

@media(max-width: 360px) {
    .logo {
        margin-right: 50px;
    }

    .user-actions__item--search {
        margin-left: 0;
    }

    .top__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .top__text {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .top__inner {
        min-height: 367px;
    }

    .blockquote__text {
        max-width: 340px;
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .assortment {
        margin: 80px 0;
    }

    .title {
        margin-bottom: 30px;
        font-size: 24px;
    }

    /* задаём размер элемента по главной оси */
    .review__item {
        flex-basis: 100%;
    }

    /* убираем последний и первый элементы */
    .review__item:last-child,
    .review__item:first-child {
        display: none;
    }
}