html {
    /* box-sizing - отвечает за расчитывание разных расстояний, учитываются или нет padding и margin и тд  */
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    /* убираем внешние отступы */
    margin: 0;
    /* убираем внутренние отступы */
    padding: 0;
}

/* свойста для ссылок(всех на сайте) */
a {
    /* убираем декоративные линии */
    text-decoration: none;
    /* цвет унаследуется от родительского элемента */
    color: inherit;
}

/* свойства для ссылок */
ul {
    /* убираем маркированный список */
    list-style: none;
}

/* для центрирования */
.container {
    /* максимальная фиксированная ширина блока*/
    /* в данном случае макс ширина header 1200px, но так как были добавлены отступы (padding) добавляем 40px */
    max-width: 1240px;
    /* блок ставим по центру
    auto - слева и справа будет автоматически высчитываться расстояние */
    margin: 0 auto;
    /* Отступы слева и справа*/
    padding-left: 20px;
    padding-right: 20px;
}

/* свойства для всех тегов и элементов в body */
body {
    /* добавляем основной шрифт */
    font-family: "Open Sans", sans-serif;
    /* добавление акцентного цвета */
    color: #151618;
    /* акцентный размер текста */
    font-size: 20px;
    /* насыщенность (толщина) текста */
    font-weight: 300;
    /* величина пространства между строками*/
    line-height: 1.5;

    /* font-family: "Cormorant", serif; */

}

/* свойства для внутренности header */
.header__inner {
    /* создаём блочный flex контейнер */
    display: flex;
    /* внутренние отступы */
    padding: 30px 0;
    /* равномерное распределение элементов по ширине flex-блока. Первый - в начале, последний - в конце*/
    justify-content: space-between;
    /* для выстраивания элементов по центру */
    align-items: center;
    /* минимальная фиксированная высота */
    min-height: 140px;
}

/* свойства для логотипа */
.logo {
    /* увеличение внешнего отступа снизу (для выравнивания блоков header) */
    margin-bottom: 35px;
}

/* свойства для навигационного меню */
.menu__list {
    display: flex;
    align-items: center;
    /* позволяет добавить свободное пространство между элементами по горизонтали и вертикали */
    gap: 0 65px;
    /* насыщенность шрифта */
    font-weight: 400;
    /* размер шрифта */
    font-size: 18px;
    margin-left: 77px;
}

/* свойства для корзины и регистрации */
.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

/* свойства для search */
.user-actions__item-search {
    margin-left: 80px;
}

/* свойства для main */
/* первая секция */
/* настраиваем фоновое изображение */
.top {
    /* подключаем фоновое изображение */
    background-image: url('/project 2/logo_type/source/image/jpg/Group\ 91.jpg');
    /* при недостаточном размере фона, он не повторяется */
    background-repeat: no-repeat;
    /* положение изображения фона */
    background-position: bottom center;
    /* размер фона */
    /* cover - масштабирует изображение как можно больше c сохранением пропорций изображения 
    (изображение не становится сплющенным) */
    background-size: cover;
}

/* свойства для блока для элементов, распологающихся на фоне */
.top__inner {
    /* минимальная фиксированная высота */
    min-height: 500px;
    /* цвет для текста внутри блока элементов, располагающихся на фоне */
    color: #fff;
    /* насыщенность текста */
    font-weight: 400;
    /* используем семейство шрифта */
    font-family: "Cormorant", serif;
}

/* свойства для заголовка */
.top__title {
    font-size: 60px;
    /* внешний отступ вниз */
    margin-bottom: 20px;
    /* максимально-возможная ширина(ограничение) */
    max-width: 789px;
    line-height: 1;
}

/* свойства для текста под заголовком */
.top__text {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 557px;
    line-height: normal;
}