/* для центрирования */
.container {
    /* максимальная фиксированная ширина блока*/
    /* в данном случае макс ширина header 1200px, но так как были добавлены отступы (padding) добавляем 40px */
    max-width: 1240px;
    /* блок ставим по центру
    auto - слева и справа будет автоматически высчитываться расстояние */
    margin: 0 auto;
    /* Отступы слева и справа*/
    padding-left: 20px;
    padding-right: 20px;
}

/* свойства для внутренности header */
.header__inner {
    /* создаём блочный flex контейнер */
    display: flex;
    /* внутренние отступы */
    padding: 30px 0;
    /* равномерное распределение элементов по ширине flex-блока. Первый - в начале, последний - в конце*/
    justify-content: space-between;
    /* для выстраивания элементов по центру */
    align-items: center;
    /* минимальная фиксированная высота */
    min-height: 140px;
}

/* свойства для логотипа */
.logo {
    /* увеличение внешнего отступа снизу (для выравнивания блоков header) */
    margin-bottom: 35px;
}

/* свойства для навигационного меню */
.menu__list {
    display: flex;
    align-items: center;
    /* позволяет добавить свободное пространство между элементами по горизонтали и вертикали */
    gap: 0 65px;
    /* насыщенность шрифта */
    font-weight: 400;
    /* размер шрифта */
    font-size: 18px;
    margin-left: 77px;
}

/* свойства для корзины и регистрации */
.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

/* свойства для search */
.user-actions__item-search {
    margin-left: 80px;
}

/* свойства для main */
/* первая секция */
/* настраиваем фоновое изображение */
.top {
    /* подключаем фоновое изображение */
    background-image: url('/project 2/logo_type/source/image/jpg/Group\ 91.jpg');
    /* при недостаточном размере фона, он не повторяется */
    background-repeat: no-repeat;
    /* положение изображения фона */
    background-position: bottom center;
    /* размер фона */
    /* cover - масштабирует изображение как можно больше c сохранением пропорций изображения 
    (изображение не становится сплющенным) */
    background-size: cover;
}

/* свойства для блока для элементов, распологающихся на фоне */
.top__inner {
    /* используем семейство шрифта */
    font-family: 'Cormorant';
    /* минимальная фиксированная высота */
    min-height: 500px;
    /* цвет для текста внутри блока элементов, располагающихся на фоне */
    color: #fff;
    /* насыщенность текста */
    font-weight: 400;
    /* закрепляем блок с текстом к низу */
    /* меняем расположение блока с текстом */
    display: flex;
    /* возращаем блок в первоначальный вид(ось по вертикали обладает свойствами оси по горизонтали и наоборот) */
    flex-direction: column;
    /* выравнивание флекс-элементов с конца(по вертикали) */
    justify-content: flex-end;
}

/* свойства для заголовка */
.top__title {
    font-size: 60px;
    /* внешний отступ вниз */
    margin-bottom: 20px;
    /* максимально-возможная ширина(ограничение) */
    max-width: 789px;
    /* величина пространства между строками в тексте */
    line-height: 1;
    /* по-умолчанию h(заголовки) имеют font-weight = 700, поэтому меняем */
    font-weight: 400;
}

/* свойства для текста под заголовком */
.top__text {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 557px;
    line-height: normal;
}

/* свойства для цитаты */
.blockquote {
    /* выравнивание по центру */
    text-align: center;
    /* семейство шрифта */
    font-family: 'Cormorant';
    /* размер шрифта */
    font-size: 40px;
    /* стиль шрифта */
    font-style: italic;
    line-height: normal;
    max-width: 704px;
    /* выставляем текст по центру с margin вверх-вниз = 150*/
    margin: 150px auto;
}


/* прописываем медиа-запросы(для адаптива) */
/* в () записываем условие, при котором будет производиться media-запрос */
/* в {} обращаемся к html-файлу, который хотим видоизменить */
/* адаптив при достижении экрана 1000px */
@media(max-width: 1000px) {
    .user-actions__item-search {
        margin-left: 30px;
    }

    .menu {
        /* свойство автоматически расчитывает отступ справа
        (без него не произойдёт нужного смещения всего блока) */
        margin-right: auto;
    }

    .menu__list {
        margin-left: 60px;
    }
}

@media(max-width: 768px) {}

@media(max-width: 480px) {}

@media(max-width: 360px) {}