/* свойства для title */
.title {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

/* для центрирования */
.container {
    /* максимальная фиксированная ширина блока*/
    /* в данном случае макс ширина header 1200px, но так как были добавлены отступы (padding) добавляем 40px */
    max-width: 1240px;
    /* блок ставим по центру
    auto - слева и справа будет автоматически высчитываться расстояние */
    margin: 0 auto;
    /* Отступы слева и справа*/
    padding-left: 20px;
    padding-right: 20px;
}

/* header */
/* свойства для внутренности header */
.header__inner {
    /* создаём блочный flex контейнер */
    display: flex;
    /* внутренние отступы */
    padding: 30px 0;
    /* равномерное распределение элементов по ширине flex-блока. Первый - в начале, последний - в конце*/
    justify-content: space-between;
    /* для выстраивания элементов по центру */
    align-items: center;
    /* минимальная фиксированная высота */
    min-height: 140px;
}

/* свойства для бургера */
.menu__btn {
    /* бургер не показывается*/
    display: none;
    /* ширина бургера */
    width: 40px;
    /* высота бургера */
    height: 20px;
    /* display: flex записан в media-запросе(max-width: 860px) */
    /* spanы располагаются один за другим */
    flex-direction: column;
    /* рраспределение spanов от начала до конца */
    justify-content: space-between;
    /* свойства для отображения затемнённого фона */
    /* позиционирование(порядок расположения элементов) */
    z-index: 2;
    position: relative;
}

/* свойства для затемнённого фона */
.menu--close {
    display: none;
}

/* при срабатывании открывающегося меню и появляется фон */
.menu--close.menu--open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    /* свойства для отображения затемнённого фона */
    /* позиционирование(порядок расположения элементов) */
    z-index: 1;
    /* задержка для затемнённого фона */
    transition: background-color .3s ease;
}

/* свойства для навигационного меню(мобильное расширение) */
.mobile-nav,
.menu__close {
    /* убираем элементы навигационного меню мобильного расширения с компьютерного расширения */
    display: none;
}

/* свойства для span бургера */
.menu__btn span {
    background-color: #000;
    height: 2px;
    width: 100%;
}

/* свойства для логотипа */
.logo {
    /* увеличение внешнего отступа снизу (для выравнивания блоков header) */
    margin-bottom: 35px;
}

/* свойства для навигационного меню */
.menu__list {
    display: flex;
    align-items: center;
    /* позволяет добавить свободное пространство между элементами по горизонтали и вертикали */
    /* первое значение - отступ для рядов, второе - отступ для колонок */
    gap: 0 65px;
    /* насыщенность шрифта */
    font-weight: 400;
    /* размер шрифта */
    font-size: 18px;
    margin-left: 77px;
    /* свойства для отображения затемнённого фона */
    position: relative;
    z-index: 3;
}

/* свойства для корзины и регистрации */
.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

/* свойства для search */
.user-actions__item--search {
    margin-left: 80px;
}

/* свойства для main */
/* первая секция */
/* настраиваем фоновое изображение */
.top {
    /* подключаем фоновое изображение */
    background-image: url('/project 2/logo_type/source/image/jpg/Group\ 91.jpg');
    /* при недостаточном размере фона, он не повторяется */
    background-repeat: no-repeat;
    /* положение изображения фона */
    background-position: bottom left;
    /* размер фона */
    /* cover - масштабирует изображение как можно больше c сохранением пропорций изображения 
    (изображение не становится сплющенным) */
    background-size: cover;
}

/* свойства для блока для элементов, распологающихся на фоне */
.top__inner {
    /* используем семейство шрифта */
    font-family: 'Cormorant';
    /* минимальная фиксированная высота */
    min-height: 500px;
    /* цвет для текста внутри блока элементов, располагающихся на фоне */
    color: #fff;
    /* насыщенность текста */
    font-weight: 400;
    /* закрепляем блок с текстом к низу */
    /* меняем расположение блока с текстом */
    display: flex;
    /* возращаем блок в первоначальный вид(ось по вертикали обладает свойствами оси по горизонтали и наоборот) */
    flex-direction: column;
    /* выравнивание флекс-элементов с конца(по вертикали) */
    justify-content: flex-end;
}

/* свойства для заголовка */
.top__title {
    font-size: 60px;
    /* внешний отступ вниз */
    margin-bottom: 20px;
    /* максимально-возможная ширина(ограничение) */
    max-width: 789px;
    /* величина пространства между строками в тексте */
    line-height: 1;
    /* по-умолчанию h(заголовки) имеют font-weight = 700, поэтому меняем */
    font-weight: 400;
}

/* свойства для текста под заголовком */
.top__text {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 557px;
    line-height: normal;
}

/* 2 секция */
/* свойства для текста цитаты */
.blockquote__text {
    /* выравнивание по центру */
    text-align: center;
    /* семейство шрифта */
    font-family: 'Cormorant';
    /* размер шрифта */
    font-size: 40px;
    /* стиль шрифта */
    font-style: italic;
    line-height: normal;
    max-width: 704px;
    /* выставляем текст по центру с margin вверх-вниз = 150*/
    margin: 150px auto;
}

/* 3 секция(ассортимент чая) */
/* свойства для секции чайного списка */
.assortment {
    margin-bottom: 150px;
}

/* свойства для чайного списка */
.assortment__list {
    display: flex;
    text-align: center;
    gap: 0 40px;
}

/* свойства для чайных картинок */
.assortment__img {
    /* фиксируем максимальную высоту и ширину картинок(картинки подстраиваются под размер экрана) */
    max-width: 208px;
    max-height: 208px;
    /* на экране корректно распределяются все картинки */
    width: 100%;
}

.assortment__name {
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-top: 10px;
}

/* четвёртая секция */
.review {
    background-color: #F7F2EA;
    padding: 60px 0;
    margin-bottom: 150px;
}

.review__list {
    display: flex;
    gap: 0 26px;
}

.review__item {
    /* flex-basis задаёт размер элемента по главной оси, перед тем как будет распределено оставшееся пространство. */
    flex-basis: 280px;
}

.review__text {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
}

.review__client {
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
}